# File: .gitignore

# File di ambiente
.env

# File di logging e report
*.log
*.pdf

# Cache di Python
__pycache__/
*.pyc

# Cartelle di virtual environment
venv/
.venv/

# File temporanei o di sistema
.DS_Store

# Cartella dei download temporanei
downloads/

# Database SQLite
*.sqlite